body {
	font-family:'Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Arial,Helvetica,STHeiti;
	margin:0px;
}
a{
	text-decoration: none;
}
.top{
	margin-top:3px;
	height: 20%;
	width: 100%;
	font-size:15px;
}
.top div div a {
	padding-top: 0px;
	padding-right: 12px;
	padding-bottom: 0px;
	padding-left: 12px;
	text-decoration: none;
	color: #000;
}
.top div div a:hover {
	color: #06F;
}
.ico {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 14px;
	width: 15px;
}

.titleleft {
	float: left;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 3.7%;
}
.titleright {
	float: right;
	margin-top: auto;
	margin-right: 2.2%;
	margin-bottom: auto;
	margin-left: auto;
}
.search {
	background-image: none;
	height: 8.1%;
	width: 49%;
	padding: 0px;
	float: right;
	margin-top: 4%;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.searchtext {
	height: 47px;
	width: 79.5%;
	float: left;
	border: 2px solid #F03726;
}
.searchbutton {
	float: left;
	height: 48px;
	width: 20.5%;
	background-color: #F03726;
	background-repeat: no-repeat;
	color: #FFF;
	border: 0px none #FFF;
	font-size: 20px;
	line-height: normal;
	font-weight: bold;
	margin: 0px;
}
.guidance {
	height: 50px;
	width: 92.5%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #F00;
	margin: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 7%;
	overflow: hidden;
}
.homepage {
	border: 1px solid #FFF;
	float: left;
	height: 20px;
	width: 100px;
	text-align: center;
	margin-top: 20px;
}
.homepage a {
	color: #F03726;
	text-decoration: none;
	font-weight:bold;
}

.alltype {
	float: left;
	background-color: #F03726;
	color: #FFF;
	height: 50px;
	width: 12%;
	text-align: center;
	padding-top: 12px;
}